html{
     font-size: 1rem;
     background-color: beige;
     margin:4rem;
 }
 li :hover{
     cursor: pointer;
     color: #000;
 }
 h1{
     background-color: rgb(46, 159, 168);
     font-size:3rem;
 }
 h2{
     font-size: 1.5rem;
 }
 /*barra de navegacion*/
 .navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 0;
 }
 .navbar.fa-bars{
     display: none;
 }
 .menu{
     font-size: large;
     display: flex;
     gap: 2rem;
 }
 .menu li{
     list-style: none;
 }
 .menu a{
     text-decoration: none;
     color: #00000020;
     font-weight: 700;
     text-transform: uppercase;
     position: relative;
 }
 .menu a::after{
     content: ' ';
     width: 1.5rem;
     height: 1px;
     background-color: #9a1c1c93;
     position: absolute;
     bottom: -3px;
     left: 50%;
     transform: translate(-50%, 50%);
     opacity: 0;
     transition: all 0.3 ease;
 }
 .menu a:hover::after{
     opacity: 1;
 }
 .menu a:hover{
     color: #9a1c1c93;
 }
 table{
     background-color: rgb(153, 151, 213);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
 }
 .banner{
     background-image: linear-gradient(100deg,#000000, #00000020), url(img/AI_Generated_Image_2024-03-03_447130497054201.png);
     height: 60rem;
     background-size: cover;
     background-position: center;
 }
 .content-banner{
     max-width: 90rem;
     margin: 0 auto;
     padding: 25rem 0;
 }
 .content-banner p{
     color: #9a1c1c;
     font-size: 1.2;
     margin-bottom: 1rem;
     font-weight: 500;
 }
 .content-banner h2{
     color: #fff;
     font-size: 3.5rem;
     font-weight: 500;
     line-height: 1.2;
 }
 .content-banner a{
     margin-top: 2rem;
     text-decoration: none;
     color: #fff;
     background-color: #9a7d1c;
     display: inline-block;
     padding: 1rem 3rem;
     text-transform: uppercase;
     border-radius: 3rem;
 }
 h3{
     font-size: 1.5rem;
 }
 p{
     font-size: 1rem;
 }
 .bottom{
     text-align: center;
 }
 .btn{
     text-align: right;
 }